1. sklearn preprocessing / p95
2. 주유소 click / p178
3. div(--, axis=0) / p251
4. re / p250, 143
5. RdBu / p261
6. lxml / p153

In [4]:
# 1. sklearn.preprocessing

import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]

for i in range(len(data)):
    print(data[i])
print()

scaler = MinMaxScaler()
scaler.fit(data); # fit 처리를 통해 scaling 할 수 있게 한다.
scaler_data = scaler.transform(data) # transform 을 통해 변형.
print(scaler_data)

[-1, 2]
[-0.5, 6]
[0, 10]
[1, 18]

[[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [1.   1.  ]]

In [ ]:
# 3. div(--, axis=0)

In [5]:
election_result = pd.read_csv('../data/05. election_result.csv', encoding='utf-8', 
                              index_col=0)
election_result.head()

    광역시도   시군     pop    moon   hong    ahn
0  서울특별시  종로구  102566   42512  22325  22313
1  서울특별시   중구   82852   34062  17901  19372
2  서울특별시  용산구  148157   58081  35230  32109
3  서울특별시  성동구  203175   86686  40566  45674
4  서울특별시  광진구  240030  105512  46368  52824

election_result : <class 'pandas.core.frame.DataFrame'>

In [6]:
print(type(election_result))

<class 'pandas.core.frame.DataFrame'>

In [7]:
'''
rate_ 들을 구하려면, 연산을 해야 하는데, 이때 행 또는 열을 기준으로 연산을 
진행할 것인지를 선정해야 한다. 아래와 같은 코드의 경우,
행 또는 열을 지정해주지 않아서 오류가 났으므로 수정이 필요하다.
'''

election_result[['rate_moon','rate_hong','rate_ahn']] = \
            election_result[['moon','hong','ahn']].div(election_result['pop'])
election_result[['rate_moon','rate_hong','rate_ahn']] *= 100
election_result.head()

ValueError: Columns must be same length as key

In [10]:
'''
axis=1 은 column을 의미, axis=0은 행을 의미한다.
axis=0 을 줌으로서 행에다가 rate_ 들을 집어넣겠다는 의미이다.
'''

election_result[['rate_moon','rate_hong','rate_ahn']] = \
            election_result[['moon','hong','ahn']].div(election_result['pop'],  axis=0)
election_result[['rate_moon','rate_hong','rate_ahn']] *= 100
election_result.head()

    광역시도   시군     pop    moon   hong    ahn  rate_moon  rate_hong   rate_ahn
0  서울특별시  종로구  102566   42512  22325  22313  41.448433  21.766472  21.754773
1  서울특별시   중구   82852   34062  17901  19372  41.111862  21.605996  23.381451
2  서울특별시  용산구  148157   58081  35230  32109  39.202333  23.778829  21.672280
3  서울특별시  성동구  203175   86686  40566  45674  42.665682  19.966039  22.480128
4  서울특별시  광진구  240030  105512  46368  52824  43.957839  19.317585  22.007249