In [2]:
import pandas as pd
import numpy as np

### Series는 파이썬의 list 데이터로 만들 수 있다.

In [5]:
s = pd.Series([1,3,5,np.nan,6,8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### 날짜형의 데이터 date_range, 기본 날짜를 지정하고 periods 옵션으로 6일간이라고 지정한다.

In [6]:
dates = pd.date_range('20130101', periods=6)
print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

### 이제 DataFrame 유형의 데이터를 만들건데 6행 4열의 random 변수를 만들고, 컬럼지정, 옵션지정한다

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])
df

                   A         B         C         D
2013-01-01  0.165675 -1.009394  0.617850 -0.036244
2013-01-02 -0.168645  0.494315 -0.169128  0.871606
2013-01-03 -0.337333  0.397559 -0.111947 -2.171808
2013-01-04  0.184662  1.900644 -2.494108  0.113560
2013-01-05  0.299240  0.108648 -1.107730  0.803718
2013-01-06  0.554083 -0.616145  0.367970 -0.098084

In [11]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.values

array([[ 0.16567462, -1.00939446,  0.61784988, -0.03624378],
       [-0.1686451 ,  0.4943153 , -0.16912752,  0.87160571],
       [-0.33733286,  0.39755921, -0.11194714, -2.17180837],
       [ 0.18466168,  1.90064363, -2.49410763,  0.11356027],
       [ 0.29924036,  0.10864786, -1.10772975,  0.80371797],
       [ 0.5540829 , -0.6161447 ,  0.36796967, -0.09808405]])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2013-01-01 to 2013-01-06
Freq: D
Data columns (total 4 columns):
A    6 non-null float64
B    6 non-null float64
C    6 non-null float64
D    6 non-null float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [14]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2013-01-04  0.184662  1.900644 -2.494108  0.113560
2013-01-02 -0.168645  0.494315 -0.169128  0.871606
2013-01-03 -0.337333  0.397559 -0.111947 -2.171808
2013-01-05  0.299240  0.108648 -1.107730  0.803718
2013-01-06  0.554083 -0.616145  0.367970 -0.098084
2013-01-01  0.165675 -1.009394  0.617850 -0.036244

In [15]:
df['A']

2013-01-01    0.165675
2013-01-02   -0.168645
2013-01-03   -0.337333
2013-01-04    0.184662
2013-01-05    0.299240
2013-01-06    0.554083
Freq: D, Name: A, dtype: float64

In [16]:
df['B']

2013-01-01   -1.009394
2013-01-02    0.494315
2013-01-03    0.397559
2013-01-04    1.900644
2013-01-05    0.108648
2013-01-06   -0.616145
Freq: D, Name: B, dtype: float64

In [17]:
df[0:3]

                   A         B         C         D
2013-01-01  0.165675 -1.009394  0.617850 -0.036244
2013-01-02 -0.168645  0.494315 -0.169128  0.871606
2013-01-03 -0.337333  0.397559 -0.111947 -2.171808

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.116280  0.212604 -0.482849 -0.086209
std    0.322245  1.015279  1.149527  1.104685
min   -0.337333 -1.009394 -2.494108 -2.171808
25%   -0.085065 -0.434947 -0.873079 -0.082624
50%    0.175168  0.253104 -0.140537  0.038658
75%    0.270596  0.470126  0.247990  0.631179
max    0.554083  1.900644  0.617850  0.871606

In [28]:
df['20130101':'20130104']

                   A         B         C         D
2013-01-01  0.165675 -1.009394  0.617850 -0.036244
2013-01-02 -0.168645  0.494315 -0.169128  0.871606
2013-01-03 -0.337333  0.397559 -0.111947 -2.171808
2013-01-04  0.184662  1.900644 -2.494108  0.113560

### loc는 location의 옵션으로 슬라이싱 할 때 이 옵션을 이용해서 위치값을 지정할 수 있다.

In [29]:
df.loc[dates[0]]

A    0.165675
B   -1.009394
C    0.617850
D   -0.036244
Name: 2013-01-01 00:00:00, dtype: float64

**A,B열의 모든 행을 보고싶다면 아래처럼**

In [30]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.165675 -1.009394
2013-01-02 -0.168645  0.494315
2013-01-03 -0.337333  0.397559
2013-01-04  0.184662  1.900644
2013-01-05  0.299240  0.108648
2013-01-06  0.554083 -0.616145

**물론 행과 열의 범위를 모두 지정할 수도 있다.**

In [31]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -0.168645  0.494315
2013-01-03 -0.337333  0.397559
2013-01-04  0.184662  1.900644

**2013년 1월 2일 부터 2013년 1월 4일 까지의 데이터 중 A와 B컬럼의 데이터만 선택**

In [32]:
df.loc['20130102',['A','B']]

A   -0.168645
B    0.494315
Name: 2013-01-02 00:00:00, dtype: float64

### loc 명령과 달리 행과 열의 번호를 이용해서 데이터에 바로 접근하고자 할 때 iloc을 사용한다.

In [33]:
df.iloc[3]

A    0.184662
B    1.900644
C   -2.494108
D    0.113560
Name: 2013-01-04 00:00:00, dtype: float64